cw5/node-red-flow.json
[{"id":"a5c5e7e9e29a9e3e","type":"mqtt in","z":"f2e1cc87b2af6069","name":"Subscribe to Temperature","topic":"bugema/iot/temp","qos":"2","datatype":"auto-detect","broker":"3e8b5e12a65645c1","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":160,"wires":[["b881d2a935f6d9c5","385d8df31029e831","fa7ed51d1459c7e7"]]},{"id":"8f4182c1de36a0eb","type":"mqtt in","z":"f2e1cc87b2af6069","name":"Subscribe to Humidity","topic":"bugema/iot/humidity","qos":"2","datatype":"auto-detect","broker":"3e8b5e12a65645c1","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":220,"wires":[["b48dfa98cb31e61f","47db5e1f4fe7e4ef","f4474a39111bc375"]]},{"id":"b881d2a935f6d9c5","type":"ui_gauge","z":"f2e1cc87b2af6069","name":"Temperature Gauge","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"35","x":610,"y":160,"wires":[]},{"id":"b48dfa98cb31e61f","type":"ui_gauge","z":"f2e1cc87b2af6069","name":"Humidity Gauge","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":610,"y":220,"wires":[]},{"id":"385d8df31029e831","type":"ui_chart","z":"f2e1cc87b2af6069","name":"Temperature Chart","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"label":"Temperature Trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#FF0000","#0000FF","#00FF00"],"outputs":1,"useDifferentColor":false,"x":610,"y":280,"wires":[[]]},{"id":"47db5e1f4fe7e4ef","type":"ui_chart","z":"f2e1cc87b2af6069","name":"Humidity Chart","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"label":"Humidity Trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0000FF","#FF0000","#00FF00"],"outputs":1,"useDifferentColor":false,"x":610,"y":340,"wires":[[]]},{"id":"fa7ed51d1459c7e7","type":"ui_text","z":"f2e1cc87b2af6069","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"name":"Latest Temperature","label":"Current Temp","format":"{{msg.payload}} °C","layout":"row-spread","x":610,"y":400,"wires":[]},{"id":"f4474a39111bc375","type":"ui_text","z":"f2e1cc87b2af6069","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"name":"Latest Humidity","label":"Current Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":610,"y":460,"wires":[]},{"id":"db81e6f491db4d6f","type":"inject","z":"f2e1cc87b2af6069","name":"Inject Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":100,"wires":[["4d7e8d5c1395d22c"]]},{"id":"4d7e8d5c1395d22c","type":"ui_text","z":"f2e1cc87b2af6069","group":"bc537c554d7a9f07","order":0,"width":0,"height":0,"name":"Last Update","label":"Last Updated","format":"HH:mm:ss","layout":"row-spread","x":610,"y":100,"wires":[]},{"id":"3e8b5e12a65645c1","type":"mqtt-broker","name":"HiveMQ Public Broker","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc537c554d7a9f07","type":"ui_group","name":"Smart Home Dashboard","tab":"fb71326755c1d0c9","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fb71326755c1d0c9","type":"ui_tab","name":"Bugema IoT Coursework","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
